{% extends "common/layout.html" %}

{% block title %}
Home - Create Customer
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('customer.static', filename='css/create_customer.css')}}">
{% endblock %}


{%block content%}

<div class="container centered">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="flashes">
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  <!--{{ form.hidden_tag() }}-->
  <form action="" method="post" novalidate>
    <fieldset>
      <legend>{{title}}</legend>
      <div class="row">
        <div class="col-25">
          {{ form.customer_ssn_id.label }}


        </div>
        <div class="col-75">
          {{ form.customer_ssn_id }}
          {% for error in form.customer_ssn_id.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          {{ form.customer_name.label }}
        </div>
        <div class="col-75">
          {{ form.customer_name }}
          {% for error in form.customer_name.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          {{ form.customer_age.label }}
        </div>
        <div class="col-75">
          {{ form.customer_age }}
          {% for error in form.customer_age.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          {{ form.customer_address.label }}
        </div>
        <div class="col-75">
          {{ form.customer_address }}
          {% for error in form.customer_address.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          {{ form.customer_state.label }}
        </div>
        <div class="col-75">
          {{form.customer_state }}


          {% for error in form.customer_state.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          {{ form.customer_city.label }}
        </div>
        <div class="col-75">
          {{form.customer_city }}

          {% for error in form.customer_city.errors %}
          <span class="error-message">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      <br>
      <div class="row">
        <div class="button">
          {{ form.submit() }}

        </div>


        <div class="button">

          <input type="reset" value="Reset">
        </div>

      </div>
    </fieldset>
  </form>
</div>
{% endblock %}


{% block js %}
<script src="{{url_for('customer.static', filename='js/create_customer.js')}}"></script>
{% endblock %}