{% extends "common/layout.html" %}

{% block title %}
Delete customer
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('customer.static', filename='css/search_customer.css')}}">
{% endblock %}

{% block onload %}

{% endblock %}

{%block content%}

<h2 style="text-align: center; padding: 2rem;">Search customer</h2>
<div class="container centered">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="" method="post" id="form1" onsubmit="fillselect();return false;">
      {{form.customer_id}}
        {{form.customer_ssn_id}}
        {{form.account_id}}
        {{form.submit}}

    </form>
</div>

{% endblock %}


{% block js %}
<script>


//   To allow user to enter submit the form by entering value in any
//one of the fields required.

    jQuery(function ($) {
    var $inputs = $('input[name=customer_id],input[name=customer_ssn_id]');
    $inputs.on('input', function () {
        // Set the required property of the other input to false if this input is not empty.
        $inputs.not(this).prop('required', !$(this).val().length);
    });
});



   account_id.onPressEnter =function(){

    let account_id_select = document.getElementById('account_id')

       fetch('/customer/search/account/'+customer_id).then(function(response){
            console.log(customer_id);
           response.json().then(function(data){
           let optionHTML = '';
           for (let account of data.accountId){
           optionHTML += '<option value=""'+account.accountId+'">'+account.accountId+'</option>';
           }

           account_id_select.innerHTML = optionHTML;
              console.table(data);
           });
           });
   }
</script>
{% endblock %}

