      <div class="head">
        <a class="navbar-brand text-light mx-5" href="#"><h1>FedChoice Bank</h1></a>
        <nav class="w-75 mx-auto navbar navbar-expand-lg navbar-light bg-warning">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="px-5 collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Customer Management
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Create Customer</a>
                    <a class="dropdown-item" href="#">Update Customer</a>
                    <a class="dropdown-item" href="#">Delete Customer</a>

                  </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account Management
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Create Account</a>
                      <a class="dropdown-item" href="#">Delete Account</a>
                       </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Status Details
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Customer Status</a>
                      <a class="dropdown-item" href="#">Account Status</a>
                      <a class="dropdown-item" href="#">Customer Search</a>
                      <a class="dropdown-item" href="#">Account Search</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Account Operation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Withdraw Money</a>
                      <a class="dropdown-item" href="#">Deposit Money</a>
                      <a class="dropdown-item" href="#">Money Transfer</a>
                      <a class="dropdown-item" href="#">Account Statement</a>
                      </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                  </li>
              </ul>
              </div>

          </nav>
      </div>
