 <footer class="footer-row">
        <div class="row footer-pad">
            <div class="col-5 w50 p-3">
              <div class="footer-title">
                  <h3>About Us</h3>
              </div>
                  <div class="footer-content">
                      <p>
                        FedChoice Bank was founded on 12 June 2020 with the objective of
                        providing with the details services based on Retail Banking Operations.
                        The Retail Internet Banking of FedChoice Bank offer a plethora of products
                        and services, to cater its Customers by providing certain animes services
                        with an easy volving offers and ways to do the Required job without
                        hurdling the process.
                      </p>
                  </div>

            </div>
            <div class="col p-3 ">
              <div class="footer-title pl-4">
                  <h3>Service</h3>
              </div>
                  <div class="footer-content">
                  <ul>
                      <li>
                        Retail and Customer Banking
                      </li>
                      <li>
                        Personal Internet Banking
                      </li>
                      <li>
                        Corporater Internet Banking
                      </li>
                      <li>
                        Debit and Credit Cards
                      </li>
                  </ul>
                </div>

          </div>
          <div class="col  p-3">
              <div class="footer-title">
                  <h3>Contact Us</h3>
                </div>
                    <div class="footer-content">
                        <span>Email: customer.service@fedchoice.com</span>
                        <span>Contact No.: 0225893254, 0221133665</span>
                        <span>Address: Corporater Office, building No.- H-104</span>
                        <span>Noida Sector-62, Uttar Pradesh-203242</span>
                    </div>

          </div>
        </div>
        </footer>