html {
    height: 100% !important;
}

body {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}
.flex-wrapper{
   display:flex;
   min-height:100vh;
   flex-direction:column;
   justify-content:space-between;
}
.error {
    display: block;
    padding: 15px;
    background: #ff304f;
    color: white;
    border-radius: 5px;
}

.success {
    display: block;
    padding: 15px;
    background: #2cb978;
    color: white;
    border-radius: 5px;
}

.head{
    background-color: #630303;
    height: 20%;
}

#content {
   min-height: 100%;
   margin-bottom:-50px;
}

.footer-row{
     position:absolute;
     bottom:0;
     width:100%;

    display:inline;
    background-color: #630303;
}
.footer-title{
    color: #ffc107;
}
.footer-pad{
    margin-left: 10%;
    margin-right: 10%;
}
.footer-content{
    color: white;
    text-align: justify;
}
.footer-content ul{
    list-style-type: none;
}
.footer-content ul li:hover {
    color: #ffc107;
}