html {
    height: 100% !important;
}

body {
    height: 100% !important;
    display: flex;
    flex-direction: column;
}

.error {
    display: block;
    padding: 15px;
    background: #ff304f;
    color: white;
    border-radius: 5px;
}

.success {
    display: block;
    padding: 15px;
    background: #2cb978;
    color: white;
    border-radius: 5px;
}

table, th, td {
    border: 1px solid black;
}

.required {
    color: red;
}

.head{
    background-color: #630303;
    height: 20%;
}

.row {
    display: flex;
    padding: 0.5rem;
}

.row-center {
    justify-content: center;
    align-items: center;
}

#content {
    height: 85%;
}

.footer-row{
    background-color: #630303;
}
.footer-title{
    color: #ffc107;
}
.footer-pad{
    margin-left: 10%;
    margin-right: 10%;
}
.footer-content{
    color: white;
    text-align: justify;
}
.footer-content ul{
    list-style-type: none;
}
.footer-content ul li:hover {
    color: #ffc107;
}