{% extends "common/layout.html" %}

{% block title %}
Home - Create Customer
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('customer.static', filename='css/create_customer.css')}}">
{% endblock %}

{% block onload %}
getAccountType({{ account_pair_json }})
{% endblock %}

{%block content%}

<h2 style="text-align: center; padding: 2rem;">Delete Account</h2>
<div class="container centered">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('account.delete_account') }}" method="post">
        <div class="row">
            <label for="account_id">Account ID: <sup class="required">*</sup></label>
            <select id='account_id' name="account_id" required onchange="getAccountType({{ account_pair_json }})">
                {% for account in account_pair %}
                <option value="{{ account }}" selected>{{ account }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <label for="account_type">Account type: <sup class="required">*</sup></label>
            <input type="text" id='account_type' name="account_type" readonly> 
        </div>
        <div class="row row-center">
            <input type="submit" value="Delete account">
        </div>
    </form>
</div>
{% endblock %}


{% block js %}
<script src="{{url_for('customer.static', filename='js/create_customer.js')}}"></script>
<script>
    function getAccountType(account_pair_json) {
        const select_box = document.getElementById('account_id');
        const account_type = document.getElementById('account_type');
        account_type.value = account_pair_json[select_box.value]
    }
</script>
{% endblock %}