{% extends "common/layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('customer.static', filename='css/create_customer.css')}}">
{% endblock %}

{% block title %}
Account Statement
{% endblock %}

{%block content%}
<h2 style="text-align: center; padding: 2rem;">Showing last {{ntrans}} transactions</h2>
<div class="container centered">
    <table class='table'>
        <thead>
            <th>Transaction ID</th>
            <th>Account ID</th>
            <th>Transaction Type</th>
            <th>Date</th>
            <th>Amount</th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{transaction.transaction_id}}</td>
                <td>{{transaction.account_id}}</td>
                <td>{{transaction.transaction_type}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% set next = page+1 %}
    {% set prev = page-1 %}
<div class="row">
    <div class="col-md-5 col-offset-md-1">
    <button class="button btn ">
	     <a href="/account/statement/ntrans/download/report/excel/{{acc_id}}/{{ntrans}}/{{page}}">Download Summary As Excel File</a>
</div>
    <div class="col-md-5">
    </button>
       <button class="button btn ">
	     <a href="/account/statement/ntrans/download/report/pdf/{{acc_id}}/{{ntrans}}/{{page}}">Download Summary As PDF</a>

    </button>
    </div>
</div>
    <a href="/account/statement/ntrans/{{acc_id}}?ntrans={{ntrans}}&page={{next}}">Next</a>
    <a href="/account/statement/ntrans/{{acc_id}}?ntrans={{ntrans}}&page={{prev}}">Prev</a>
</div>
{% endblock %}