{% extends "common/layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('customer.static', filename='css/create_customer.css')}}">
{% endblock %}

{% block title %}
Account Statement
{% endblock %}

{%block content%}
<h2 style="text-align: center; padding: 2rem;">Transactions by date</h2>
<div class="container centered">
    <form action="{{ url_for('account.statement_dates', acc_id=acc_id) }}" method="get">
        <div class="row">
            <label for="start">Start date: <sup class="required">*</sup></label>
            <input type="date" id='start' name="start" required>
        </div>
        <div class="row">
            <label for="end">End date: <sup class="required">*</sup></label>
            <input type="date" id='end' name="end" required>
        </div>
        <div class="row row-center">
            <input type="submit" value="Submit">
        </div>
    </form>

    {% if transactions %}
    <table class='table'>
        <thead>
            <th>Transaction ID</th>
            <th>Account ID</th>
            <th>Transaction Type</th>
            <th>Date</th>
            <th>Amount</th>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{transaction.transaction_id}}</td>
                <td>{{transaction.account_id}}</td>
                <td>{{transaction.transaction_type}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% set next = page+1 %}
    {% set prev = page-1 %}

    <a href="/account/statement/dates/{{acc_id}}?ntrans={{ntrans}}&page={{next}}&start={{start}}&end={{end}}">Next</a>
    <a href="/account/statement/dates/{{acc_id}}?ntrans={{ntrans}}&page={{prev}}&start={{start}}&end={{end}}">Prev</a>

    <button class="button btn btn-warning">
	     <a href="/account/statement/date/download/report/excel/{{acc_id}}/{{ntrans}}/{{start}}/{{end}}/{{page}}">Download Summary As Excel File</a>

    </button>
       <button class="button btn btn-warning">
	     <a href="/account/statement/date/download/report/pdf/{{acc_id}}/{{ntrans}}/{{start}}/{{end}}/{{page}}">Download Summary As PDF</a>

    </button>
    {% endif %}
</div>
{% endblock %}