.error {
    display: block;
    padding: 15px;
    background: #ff304f;
    color: white;
    border-radius: 5px;
}

.head{
    background-color: #630303;
}

.footer-row{
    background-color: #630303;
}
.footer-title{
    color: #ffc107;
}
.footer-pad{
    margin-left: 10%;
    margin-right: 10%;
}
.footer-content{
    color: white;
    text-align: justify;
}
.footer-content ul{
    list-style-type: none;
}
.footer-content ul li:hover {
    color: #ffc107;
}