html, body {
    overflow: auto;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head{
    background-color: #630303;
}
.bb{
    color:blue;
}
.login{
    border: 1px solid #676363;
    max-width: 500px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto; 
}
.title{
    background-color: #676363;
    color: white;
    padding: 10px;
}
.credential{
    padding: 10px;
}
.login-btn{
    margin-right: auto;
    margin-left: auto;
}
.aa{
    width: 65px;
    margin-left: auto;
    margin-right: auto;
}
.footer-row{
    background-color: #630303;
}
.footer-title{
    color: #ffc107;
}
.footer-pad{
    margin-left: 10%;
    margin-right: 10%;
}
.footer-content{
    color: white;
    text-align: justify;
}
.footer-content ul{
    list-style-type: none;
}
.footer-content ul li:hover {
    color: #ffc107;
}